.navbar {
  border-radius: 0.25rem;
}
.navbar {
  position: relative;
  padding: 0.5rem 1rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet nav {
  display: block;
}
body {
  font-family: source sans pro, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}
html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.navbar::after {
  content: "";
  display: table;
  clear: both;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.8);
}
.navbar-brand {
  font-family: titillium web, sans-serif;
  font-size: 1.5rem !important;
  padding-top: 0 !important;
  margin-right: 2rem !important;
  color: #5cb85c !important;
}
.navbar-brand {
  float: left;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
a {
  background-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.pull-xs-right {
  float: right !important;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.navbar-nav .nav-item {
  float: left;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet ul {
  list-style-type: disc;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-nav .nav-link {
  display: block;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}
.nav-link {
  display: inline-block;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
a {
  background-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
user agent stylesheet li {
  text-align: -webkit-match-parent;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet ul {
  list-style-type: disc;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem;
}

.navbar-nav .nav-item {
  float: left;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet ul {
  list-style-type: disc;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-nav .nav-link {
  display: block;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}

.nav-link {
  display: inline-block;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
a {
  background-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
user agent stylesheet li {
  text-align: -webkit-match-parent;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet ul {
  list-style-type: disc;
}
.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem;
}
.navbar-nav .nav-item {
  float: left;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet ul {
  list-style-type: disc;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.3);
}
.navbar-nav .nav-link {
  display: block;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}
.nav-link {
  display: inline-block;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
a {
  background-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
user agent stylesheet li {
  text-align: -webkit-match-parent;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet ul {
  list-style-type: disc;
}

.container.page {
  margin-top: 1.5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  align-content: flex-start;
}

.home-page .feed-toggle {
  margin-bottom: -1px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-pills .nav-item {
  float: left;
}

.nav-pills.outline-active .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid transparent;
  background: 0 0;
  color: #aaa;
}

.nav-link,
.tag-pill {
  cursor: pointer;
}
.nav-pills .nav-link {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.nav-link {
  display: inline-block;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: #5cb85c;
  text-decoration: none;
}

a {
  background-color: transparent;
}
.tag-pill[_ngcontent-ng-c2070197846] {
  cursor: pointer;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.tag-default {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
}
.tag-default {
  background-color: #818a91;
}

.col-md-3 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 25%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  max-width: 25%;
}

.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

div {
  display: block;
}

.home-page .sidebar {
  padding: 5px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
}

.home-page .sidebar {
  margin-bottom: 0.2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.tag-pill {
  cursor: pointer;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
}
.article-preview .article-meta {
  margin: 0 0 1rem;
}
.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}

.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}

.article-meta .info .author {
  display: block;
  font-weight: 500 !important;
}

.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}
.article-preview {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem rem 0;
}

.pull-xs-right {
  float: right !important;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn:hover {
  text-decoration: none;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.btn-outline-primary {
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
input,
button,
select,
textarea {
  margin: 0;
  line-height: inherit;
  border-radius: 0;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.article-preview .preview-link ul li {
  font-weight: 300;
  font-size: 0.8rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tag-default.tag-outline {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: 0 0 !important;
}

ul.tag-list li {
  display: inline-block !important;
}

.tag-default {
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
}

nav,
section,
summary {
  display: block;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.page-item {
  display: inline;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
}

a {
  touch-action: manipulation;
}

.page-link[_ngcontent-ng-c208212800] {
  cursor: pointer;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
