<nav>
  <Div class="navbar navbar-light">
    <div class="container">
      <a routerLink="/" class="navbar-brand" href="/">Conduit</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <a routerlink="/" class="nav-link" href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a
            routerlink="['login']"
            routerlinkactive="active"
            class="nav-link"
            href="/src/app/article/article.component.html"
            >Sign in
          </a>
        </li>
        <li class="nav-item">
          <a
            routerlink="/register"
            routerlinkactive="active"
            class="nav-link"
            href="/src/app/header/login.html"
            >Sign up
          </a>
        </li>
      </ul>
    </div>
  </Div>
</nav>
<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"> Your Feed </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"> Global Feed </a>
            </li>
            <li class="nav-item" hidden="">
              <a class="nav-link active"> <i class="ion-pound"></i> </a>
            </li>
          </ul>
        </div>
        <div class="article-preview">
          <div class="article-meta">
            <a href="/profile/Maksim%20Esteban"
              ><img
                alt="author image"
                src="https://api.realworld.io/images/demo-avatar.png"
            /></a>
            <div class="info">
              <a class="author" href="/profile/Maksim%20Esteban">
                Maksim Esteban </a
              ><span class="date"> January 4, 2024 </span>
            </div>
            <div class="pull-xs-right">
              <button class="btn btn-sm btn-outline-primary">
                <i class="ion-heart"></i> 53
              </button>
            </div>
          </div>
          <a
            class="preview-link"
            href="/article/Ill-quantify-the-redundant-TCP-bus-that-should-hard-drive-the-ADP-bandwidth!-553"
            ><h1>
              Ill quantify the redundant TCP bus, that should hard drive the ADP
              bandwidth!
            </h1>
            <p>
              Aut facilis qui. Cupiditate sit ratione eum sunt rerum impedit.
              Qui suscipit debitis et et voluptates voluptatem voluptatibus.
              Quas voluptatum quae corporis corporis possimus.
            </p>
            <span>Read more...</span>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline">sit</li>
              <li class="tag-default tag-pill tag-outline">reiciendis</li>
              <li class="tag-default tag-pill tag-outline">consequuntur</li>
              <li class="tag-default tag-pill tag-outline">nihil</li>
              <!---->
            </ul></a
          >
        </div>
        <div class="article-preview">
          <div class="article-meta">
            <a href="/profile/Maksim%20Esteban"
              ><img
                alt="author image"
                src="https://api.realworld.io/images/demo-avatar.png"
            /></a>
            <div class="info">
              <a class="author" href="/profile/Maksim%20Esteban">
                Maksim Esteban </a
              ><span class="date"> January 4, 2024 </span>
            </div>
            <div class="pull-xs-right">
              <button class="btn btn-sm btn-outline-primary">
                <i class="ion-heart"></i> 20
              </button>
            </div>
          </div>
          <a
            class="preview-link"
            href="/article/quantifying-the-circuit-wont-do-anything-we-need-to-parse-the-back-end-FTP-interface!-553"
            ><h1>
              quantifying the circuit wont do anything, we need to parse the
              back-end FTP interface!
            </h1>
            <p>
              Quo voluptatem quia numquam laudantium sit quibusdam aut.
              Veritatis omnis neque ea saepe hic enim. Nam odit dolor non
              consequuntur perspiciatis inventore ut sint. Velit quod
              praesentium adipisci modi.
            </p>
            <span>Read more...</span>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline">at</li>
              <li class="tag-default tag-pill tag-outline">quasi</li>
              <li class="tag-default tag-pill tag-outline">ullam</li>
              <li class="tag-default tag-pill tag-outline">nemo</li>
              <!---->
            </ul></a
          >
        </div>
        <div class="app-article-preview" hidden="">Loading articles...</div>
        <div class="app-article-preview" hidden="">
          No articles are here... yet.
        </div>
        <nav>
          <ul class="pagination">
            <li class="page-item active">
              <a class="page-link">1</a>
            </li>
            <li class="page-item">
              <a class="page-link">2</a>
            </li>
            <li class="page-item">
              <a class="page-link">3</a>
            </li>
            <li class="page-item">
              <a class="page-link">4</a>
            </li>
            <li class="page-item">
              <a class="page-link">5</a>
            </li>
            <li class="page-item">
              <a class="page-link">6</a>
            </li>
            <li class="page-item">
              <a class="page-link">7</a>
            </li>
            <li class="page-item">
              <a class="page-link">8</a>
            </li>
            <li class="page-item">
              <a class="page-link">9</a>
            </li>
            <li class="page-item">
              <a class="page-link">10</a>
            </li>
            <!---->
          </ul>
        </nav>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            <a class="tag-default tag-pill"> enim </a
            ><a class="tag-default tag-pill"> repellat </a
            ><a class="tag-default tag-pill"> exercitationem </a
            ><a class="tag-default tag-pill"> est </a
            ><a class="tag-default tag-pill"> eos </a
            ><a class="tag-default tag-pill"> quia </a
            ><a class="tag-default tag-pill"> facilis </a
            ><a class="tag-default tag-pill"> consequatur </a
            ><a class="tag-default tag-pill"> occaecati </a
            ><a class="tag-default tag-pill"> tenetur </a
            ><!---->
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <a routerlink="/" class="logo-font" href="/">conduit</a
      ><span class="attribution">
        © 2024. An interactive learning project from
        <a href="https://thinkster.io">Thinkster</a>. Code licensed under MIT.
      </span>
    </div>
  </footer>
</div>
