:host {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > a {
  color: #5cb85c;
  font-size: 1.5rem;
  padding-top: 0%;
  margin-right: 2rem;
}

.navbar-nav .nav-item {
  float: left;
}

.nav {
  padding-left: 0%;
  margin-bottom: 0%;
  list-style: none;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link {
  display: block;
  padding-top: 0.425rem;
  padding-bottom: 0.425rem;
}

.navbar-nav .nav-item + .nav-item {
  margin-left: 1rem;
}

.navbar-nav .nav-item {
  float: left;
}

.nav {
  padding-left: 0;
  margin-bottom: 0%;
  list-style: none;
}
